@CHARSET "UTF-8";
body {
  font-family: 'lato_regular';
  font-size: 12px;
  background: #FFF;
}

header {
  width: 100%;
  height: 50px;
  background: #F0F0F0;
  position: fixed;
  z-index: 999;
}

.wrapper {
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

#taskplanner-title span {
  font-family: "lato_regular";
  font-size: 35px;
  margin-top: 3px;
  display: block;
  color: #1d61a6;
}

#glyph-container {
  margin-top: 5px;
}

#glyph-container-anon {
  margin-top: 5px;
}

#profile-glyph {
  overflow: hidden;
}

.header-item {
  float: right;
  margin-left: 0.5em;
  text-align: center;
  width: 40px;
  overflow: hidden;
  cursor: pointer;
}

.header-item span {
  font-size: 10px;
}

#login-container {
  margin: 15px auto;
  width: 200px;
  text-align: center;
}

#login-container input {
  height: 20px;
  width: 150px;
  margin-bottom: 10px;
}

#error-container {
  margin: 15px auto;
  text-align: left;
}

h2 {
  color: #4e4e4e;
  font-family: "lato_regular", arial;
  font-size: 12px;
  margin-bottom: 2em;
  letter-spacing: 1px;
  border-bottom: 1px solid #1d61a6;
  line-height: 20px;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #E0E0E0;
  padding: 1em;
}

footer p {
  font-style: italic;
  color: #3b3b3b;
  font-family: "lato_regular", arial;
  font-size: 12px;
  text-align: center;
}

ul {
  list-style-position: inside;
}

li {
  list-style-type: none;
}

table tr {
  line-height: 20px;
  border-bottom: 1px dotted #E0E0E0;
}

table tr th {
  text-align: left;
  padding: 5px;
}

table tr th span {}

table tr td {
  padding: 5px;
}

table tr th.iconColumn,
table tr td.iconColumn {
  width: 20px;
}

table tr th.centerColumn,
table tr td.centerColumn {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

#logincontainer {
  float: right;
  line-height: 80px;
  color: #FFF;
}

#content-container {
  padding-bottom: 40px;
  padding-top: 50px;
}

#content-container a {
  text-decoration: none;
  color: #353434;
}

#content-container .navigation-entry a:hover {
  color: #353434;
  font-weight: bold;
}

#content-container .navigation-entry a.navigation-active {
  font-weight: bold;
  color: #353434;
}

#content-container .navigation-entry a {
  color: #666;
}

div.title {
  width: 100%;
  border-bottom: 1px solid #1d61a6;
  padding-bottom: 2px;
}

li.task-list-item {
  padding: 5px 0px 5px 0px;
  line-height: 16px;
  height: 26px;
  cursor: pointer;
  display: block;
  position: relative;
}

li.task-list-item:first-child {
  margin-top: 5px;
}

.task-list-title {
  float: left;
}

.task-list-rename {
  float: right;
  visibility: hidden;
  padding-right: 5px;
}

.task-list-remove {
  float: right;
  visibility: hidden;
  padding-right: 5px;
}

li.task-list-item:hover {
  background: #E0E0E0;
}

li.task-list-item:hover .task-list-remove,
li.task-list-item:hover .task-list-rename {
  visibility: visible;
}

.tasks li {
  border-bottom: 1px dotted #E0E0E0;
  padding-right: 5px;
}

.tasks li:hover {
  background-color: #E0E0E0;
}

.tasks li table tr {
  border: 0 none;
}

.tasks li table tr td {
  padding: 0;
}

.tasks li table tr:nth-child(2) {
  font-size: 10px;
}

.tasks .taskaction {
  width: 80px;
  text-align: right;
  text-transform: lowercase;
}

.tasks li.dueToday {
  background: repeating-linear-gradient( -45deg, #F2F5A9, #F2F5A9 10px, #F5F6CE 10px, #F5F6CE 20px);
}

.tasks li.overdue {
  background: repeating-linear-gradient( -45deg, #F5A9A9, #F5A9A9 10px, #F6CECE 10px, #F6CECE 20px);
}