{
  "host" : {
    "port" : 3000
  },
  "database": {
    "host" : "localhost",
    "port" : "27017",
    "schema" : "taskplanner",
    "user" : "taskplanner",
    "password" : "mysecretpasswort"
  }
}