<div class="col10"></div>

<div class="col80">
  <div class="framed-container">
    <table style="width: 100%">
      <tr>
        <th>{{'USERS.USERNAME' | translate}}</th>
        <th>{{'USERS.FIRSTNAME' | translate}}</th>
        <th>{{'USERS.NAME' | translate}}</th>
        <th class="iconColumn"></th>
        <th class="iconColumn"></th>
      </tr>
      <tr ng-repeat="user in vm.users | orderBy:username">
        <td>{{user.username}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.name}}</td>
        <td><span class="clickable icon icon-pen"></span></td>
        <td><span class="clickable icon icon-trash" ng-if="user.username != 'admin'"></span></td>
      </tr>
    </table>
    
    <button style="margin-top: 2em;">{{'USERS.ADD_USER' | translate}}</button>
  </div>
</div>

<div class="col10"></div>
